<launch>
    <include file ="$(find Polhemus_Viper_ROS_Driver)/launch/viper_sensor_startup_limit.launch" />
    <include file ="$(find Polhemus_Viper_ROS_Driver)/launch/viper_settings.launch" />
    <include file ="$(find Polhemus_Viper_ROS_Driver)/launch/ur_robot_limit.launch" />



    <node name = "viper_broadcaster" pkg = "Polhemus_Viper_ROS_Driver" type = "Viper_broadcaster" output = "screen"/>
    <node name = "kalman_filter" pkg = "Polhemus_Viper_ROS_Driver" type = "kalman_filter" output = "screen"/>
    <node name = "path_generation" pkg = "Polhemus_Viper_ROS_Driver" type = "path_generation" output = "screen"/>                  

</launch>